<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042770838843-phd4a0q25msmutn6kgto2en8bjq9irjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042770838843-phd4a0q25msmutn6kgto2en8bjq9irjm</string>
	<key>API_KEY</key>
	<string>AIzaSyD5jW4DiMQq8EgaITrRP2hTwUv9zpuYIlg</string>
	<key>GCM_SENDER_ID</key>
	<string>1042770838843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sukumar.instagram-clone</string>
	<key>PROJECT_ID</key>
	<string>instagramfullpleadge</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfullpleadge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042770838843:ios:d49b3f00deaa7c631c231e</string>
</dict>
</plist>